body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.header {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer {
    background-color: #000000;
    color: rgb(181, 0, 0);
    padding: 20px;
    text-align: center;
    font-family: "Angel wish";
    font-size: 150%;
    position: relative;
    top: -490px;
}

.bio{
    margin: 20px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
}

.bio p{
    color:white;
    font-size: 23px;
    text-align: center;
}

.bio h2{
    font-family: "Angel wish";
    color:rgb(181, 0, 0);
    font-size:337%;
}

.contact{
    margin: 10px;
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
    position:relative;
    top: -265px;
}

.contact p{
    font-family:"Angel wish";
    font-size: 70px;
    color:rgb(181, 0, 0);
    transform: translate(0,60%);
    
              
}

.tour-dates {
    margin: 1px;
    padding: 10px;
    background-color: rgb(245, 5, 5);
    color: rgb(255, 255, 255);
}

.tour-dates h2{
    font-family: "Angel wish";
    color:black;
    font-size:40px;
    right: 54px;
}

.tour-dates {
    color: black;
    font-size:24px;
}

.gg img{
    height: 250px;
    position:relative;
    left: 1100px;
    top: -467px;
    width: 22%;
    height:23% ;
}

.discography{
    margin: 20px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color:white;
    display: flex;
    justify-content: center;
    
}

.discography h2{
    color:rgb(181, 0, 0);
    font-family:"Angel wish";
    font-size: 45px;
    position: relative;
    right: 5%;
 
    

}
 .discography h3{
    position: relative;
    right: 337%;
    top: 10%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.discography h4{
    position: relative;
    right: 494%;
    top:13%

}

.discography h5{
    position: relative;
    right: 133%;
    font-size: 15px;


}

.discography img{
    height:310px;
    transform: translate(0,16%)
}


.album {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.album:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
a:visited {
    color:rgb(181, 0, 0) ;
  }

    






