
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        .header, .footer {
            background-color: #333;
            color: white;
            padding: 20px;
            text-align: center;
        }

        .footer {
            background-color: #333;
            color: white;
            padding: 20px;
            text-align: center;
        }

        .bio {
            margin: 20px;
            padding: 20px;
            background-color: white;
        }
        .discography{
            margin: 20px;
            padding: 20px;
            background-color: white;
        }

        .tour-dates  {
            margin: 20px;
            padding: 20px;
            background-color: white;
        }

        .contact {
            margin: 20px;
            padding: 20px;
            background-color: white;
        }

        .album {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .album:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease-in-out;
        }
